.btn {
  border: 3px solid white;
  border-radius: 10%;
  color: white;
}
.red {
  color: red;
}
/*Font*/
.f-banger {
  font-family: "Bangers", cursive;
}
.f-san-serif {
  font-family: sans-serif;
}

.spacelett3 {
  letter-spacing: 3px;
}
.spacelett6 {
  letter-spacing: 6px;
}
.spacelett9 {
  letter-spacing: 9px;
}
.fontsize30 {
  font-size: 30px;
}
.fontsize60 {
  font-size: 60px;
}
.fontsize90 {
  font-size: 90px;
}
